html,
body,
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.btn-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.btn-container button {
  margin-right: 10px;
}
