{
  "extends": "happiness",
  "globals": {
    "THREE": false,
    "TWEEN": false,
    "$": false,
    "XMLHttpRequest": false,
    "requestAnimationFrame": false,
    "Blob": false,
    "i18n": false,
    "URL": false,
    "Stats": false,
    "ProgressBar": false,
    "d3": false,
    "btoa": false,
    "alert": false,
    "ol": false,
    "proj4": false,
    "shapefile": false,
    "Worker": false,
    "Image": false,
    "LASFile": false,
    "LASDecoder": false,
    "BinaryHeap": false,
    "performance": false,
    "Potree": true,
    "initSidebar": true,
    "HoverMenu": true,
    "HoverMenuItem": true,
    "LRU": true,
    "viewer": true
  },
  "rules": {
    "comma-dangle": "off",
    "eol-last": "off",
    "generator-star-spacing": "off",
    "indent": "off",
    "key-spacing": "off",
    "keyword-spacing": "off",
    "no-lone-blocks": "off",
    "no-multiple-empty-lines": "off",
    "no-trailing-spaces": "off",
    "object-property-newline": "off",
    "padded-blocks": "off",
    "quotes": "off",
    "space-before-blocks": "off",
    "space-before-function-paren": "off",
    "space-in-parens": "off",
    "spaced-comment": "off"
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
