.project
.vscode/
.idea/
/pointclouds/alszeile
/pointclouds/D
/pointclouds/wrneustadt
/test
docs/.doc.md.html
docs/.file_format.md.html
docs/.how_does_loading_nodes_work.md.html
docs/.how_to_create_your_own_pointcloud_loader.md.html
docs/.marking_your_own_pointcloud_loader.md.html
docs/.materials_and_rendermodes.md.html
examples/index.html
node_modules
yarn-error.log
size-plugin.json
